SERVER_CONNECT="ipv4"
SERVER_FQDN="rt-example.mydomain.net"
SERVER_REGULAR_USER="user"
LINODE_DOMAIN="mydomain.net"
LINODE_DOMAIN_TTL="30"
LINODE_DOMAIN_USER="user"
LINODE_IMAGE="linode/debian11"
LINODE_LABEL="rt-example"
LINODE_REGION="us-west"
LINODE_USER="user"
LINODE_TYPE="g6-nanode-1"
PIHOLE_PASSWORD="<<< generate with openssl rand -hex 8 >>>"
WG_IFACE="wg0"
WG_IPV4_NET="10.42.42"
WG_IPV6_NET="fd42:42:42"
WG_LAST_OCTET="254"
WG_PORT="51820"
WG_PRIVATE_KEY="<<< generate with wg genkey >>>"
